* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-family: 'Montserrat', sans-serif;
}

.menu {
    background-color: #c22911;
    opacity: 0.8;
    border-bottom: 5px solid #397043;
}

.menu ul {
    display: inline-flex;
    margin: 50px;
}

.menu ul li {
    list-style: none;
    margin: 0 20px;
    color: #f2dbb3;
    cursor: pointer;
}

.logo img {
    width: 40px;
    margin-top: -13px;
    margin-left: -32px;
}

.signup-btn {
    text-decoration: none;
}

body {
    background-color: #F2DBB3;
    margin: 0;
    padding: 0;
}

.meni{
    margin: 20px 20px;
    width: 1200px;
    min-height: 500px;
    margin: 70px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.meni .box{
    position: relative;
    width: 375px;
    height: 275px;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;

}

.meni .box .imgBox{
    position: relative;
}

.meni .box .imgBox img{
    max-width: 100%;
    transition: transform 1s;
}

.meni .box .imgBox:hover img{
    transform: scale(1.1);
}

.meni .img:hover img{
    transform: scale(1.1);
}

.meni .box .tekst{
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: #272b36;
    transform: scaleY(0);
    transition: transform .5s;
}

.meni .box:hover .tekst{
    transform: scaleY(1);
}

.meni .box .tekst:hover{
    transform: scaleY(1);
}

.meni .box .tekst .content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 15px;
    color: #F2DBB3;
}

.meni .box .tekst .content h2{
    margin: 0;
    padding: 25px;
    font-size: 20px;
    text-transform: uppercase;
}

.meni .box .tekst .content button{
    border-radius: 20px;
    background-color: #F2DBB3;
    color: #272b36;
    font-size: 16px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.meni .box .tekst .content .btn{
    border: 1px solid #397043;
}

.meni .box .tekst .content .btn1{
    border: 1px solid #c22911;
}








ul li a:hover{
    text-decoration: underline;
}

ul li a:visited{
    color: #f2dbb3;
}

ul li a{
    text-decoration: none;
}

.menu ul li {
    list-style: none;
    margin: 0 20px;
    color: #f2dbb3;
    cursor: pointer;
    font-size: 17px;
}

.signup-btn {
    text-decoration: none;
    color: #272b36 !important;
    font-weight: 700;
}

.menu {
  background-color: #c22911;
  opacity: 0.8;
  border-bottom: 5px solid #397043;
}

.menu ul {
  display: inline-flex;
  margin: 50px;
}

.logo img {
  width: 60px;
  margin-top: -13px;
  margin-left: -32px;
}

audio:hover, audio:focus, audio:active
{
-webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-webkit-transform: scale(1.05);
-moz-transform: scale(1.05);
transform: scale(1.05);
}


audio
{
-webkit-transition:all 0.5s linear;
-moz-transition:all 0.5s linear;
-o-transition:all 0.5s linear;
transition:all 0.5s linear;
-moz-box-shadow: 2px 2px 4px 0px #006773;
-webkit-box-shadow:  2px 2px 4px 0px #006773;
box-shadow: 2px 2px 4px 0px #006773;
-moz-border-radius:7px 7px 7px 7px ;
-webkit-border-radius:7px 7px 7px 7px ;
border-radius:7px 7px 7px 7px ;
}

.audio{
  position: absolute;
  right: 100px;
  top: 55px;
}